atomicwrites==1.4.1; python_version >= "3.7" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.7" and python_full_version >= "3.4.0"
attrs==22.1.0; python_version >= "3.7" and python_version < "4.0"
aws-cdk-lib==2.38.1; python_version >= "3.7" and python_version < "4.0"
aws-lambda-powertools==1.27.0; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
aws-solutions-constructs.aws-apigateway-lambda==2.18.0; python_version >= "3.7" and python_version < "4.0"
aws-solutions-constructs.aws-eventbridge-lambda==2.18.0; python_version >= "3.7" and python_version < "4.0"
aws-solutions-constructs.aws-lambda-dynamodb==2.18.0; python_version >= "3.7" and python_version < "4.0"
aws-solutions-constructs.core==2.18.0; python_version >= "3.7" and python_version < "4.0"
aws-xray-sdk==2.10.0; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
boto3==1.21.4; python_version >= "3.6"
botocore==1.24.46; python_full_version >= "3.6.2" and python_full_version < "4.0.0" and python_version >= "3.6"
cattrs==22.1.0; python_version >= "3.7" and python_version < "4.0"
certifi==2022.6.15; python_version >= "3.7" and python_version < "4"
charset-normalizer==2.1.1; python_version >= "3.7" and python_version < "4" and python_full_version >= "3.6.0"
colorama==0.4.5; python_version >= "3.7" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.7" and python_full_version >= "3.5.0"
constructs==10.1.81; python_version >= "3.7" and python_version < "4.0"
coverage==6.4.4; python_version >= "3.7"
exceptiongroup==1.0.0rc8; python_version >= "3.7"
fastjsonschema==2.16.1; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
idna==3.3; python_version >= "3.7" and python_version < "4"
iniconfig==1.1.1; python_version >= "3.7"
jmespath==0.10.0; python_full_version >= "3.6.2" and python_version >= "3.6" and python_full_version < "4.0.0"
jsii==1.65.0; python_version >= "3.7" and python_version < "4.0"
packaging==21.3; python_version >= "3.7"
pluggy==1.0.0; python_version >= "3.7"
publication==0.0.3; python_version >= "3.7" and python_version < "4.0"
py==1.11.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
pydantic==1.9.2; python_full_version >= "3.6.1"
pyparsing==3.0.9; python_full_version >= "3.6.8" and python_version >= "3.6"
pytest-cov==3.0.0; python_version >= "3.6"
pytest-mock==3.8.2; python_version >= "3.7"
pytest==6.2.5; python_version >= "3.6"
python-dateutil==2.8.2; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.3.0" and python_version >= "3.7" and python_version < "4.0"
requests==2.28.1; python_version >= "3.7" and python_version < "4"
s3transfer==0.5.2; python_full_version >= "3.6.2" and python_full_version < "4.0.0" and python_version >= "3.6"
six==1.16.0; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.3.0" and python_version >= "3.7" and python_version < "4.0"
toml==0.10.2; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7"
tomli==2.0.1; python_full_version <= "3.11.0a6" and python_version >= "3.7"
typeguard==2.13.3; python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.5.3"
typing-extensions==4.3.0; python_version >= "3.7" and python_full_version >= "3.6.1" and python_version < "4.0"
ulid-py==1.1.0
urllib3==1.26.11; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.7"
wrapt==1.14.1; python_full_version >= "3.6.2" and python_full_version < "4.0.0"
